<h1> Users</h1>

<select [(ngModel)] = "nbSelected" >
    <option>0</option>
    <option>1</option>
    <option>2</option>
</select>

{{ 'message' | plurial:nbSelected}}

<button (click)="createUser()">Créer utilisateur</button>
<select [(ngModel)] = "extSelected">
    <option value="all">Tous</option>
    <option *ngFor="let ext of extensions">{{ ext }}</option>
</select>


<app-user-card *ngFor="let u of users | extFilter:extSelected" [user]= "u" (onDelete)=deleteUser(u.id)></app-user-card>